    
    
    
    /*HI there this is how you comant out*/
    /* HI there this is how you comant out */
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(108, 25, 25);
        }
    h1{
        color: rgb(19, 19, 202);
        }
    li{
        font-size: 14px;
        font-style: italic;
        }
    .aidan{
        font-weight: bolder;
        font-size: 20px;
        }
    .underline{
        text-decoration: underline;
    }
    .box1{
        border-width: 1px;
        border-style: solid;
        border-color: gray;

        border: 1px solid;
    }
    .box2{
        padding: 5px;


    }
    .box3{
        margin: 50px;
    }